@mixin flex-center-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin flex-between-center {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@mixin flex-end-center {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

@mixin column-between-center {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}

@mixin column-between-start {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

@mixin column-between-end {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    flex-direction: column;
}