.home {
    display: flex;
    height: 100vh;
    background: linear-gradient(to right, rgba(34, 34, 48, .46), rgba(34, 34, 48, .46)), url('./assets/background.jpeg');
    background-size: cover;

    @include break-lg {
        background-position-x: center;
    }

    @include break-md {
        padding-bottom: 1rem;
        flex-direction: column;
        height: auto;
    }
    
    &__left {
        padding: 8rem 18rem;
        width: 50%;
        height: 100%;
        @include column-between-start;

        @include break-md {
            padding: 3rem 2rem;
            width: 100%;
            height: auto;
            @include column-between-end;
            text-align: right;
        }

        h2 {
            @include text-title;
            line-height: 9.4rem;
            color: $color-primary;

            @include break-lg {
                font-size: 10rem;
                line-height: 8rem;
            }

            @include break-sm {
                font-size: 7rem;
                line-height: 5.6rem;
            }
        }

        p {
            width: 28rem;
            @include text-regular;
            color: #FFF;

            @include break-lg {
                margin-top: 2rem;
                width: 60%;
                font-size: 1.2rem;
            }
        }
    }

    &__right {
        padding-bottom: 4rem;
        width: 50%;
        height: 100%;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(4, 1fr);
        grid-template-areas:  
        "area-1 area-2 area-3"
        "area-4 area-5 area-6"
        "area-7 area-8 area-9"
        "area-10 area-11 area-12"
        ;
        grid-gap: 0px;

        @include break-lg {
            width: 100%;
        }

        .item {
            display: flex;
            justify-content: space-between;
            flex-direction: column;
            border: 1px solid rgba(255, 255, 255, .4);
            border-bottom: none;
            border-right: none;
            border-radius: .4rem;

            @include break-sm {
                padding-bottom: 4rem;
            }

            &--1 {
                grid-area: area-3; 
                border-right: 1px solid rgba(255, 255, 255, .4);
            }

            &--2 {
                grid-area: area-5; 
            }

            &--3 {
                grid-area: area-6; 
                border-right: 1px solid rgba(255, 255, 255, .4);
            }

            &--4 {
                grid-area: area-8; 
            }

            &--5 {
                grid-area: area-9; 
                border-right: 1px solid rgba(255, 255, 255, .4);
            }

            &--6 {
                grid-area: area-10; 
                border-bottom: 1px solid rgba(255, 255, 255, .4);

                @include break-lg {
                    grid-area: area-11; 
                }
            }

            &--7 {
                grid-area: area-11; 
                border-bottom: 1px solid rgba(255, 255, 255, .4);
                
                @include break-lg {
                    grid-area: area-12; 
                }
            }

            &--8 {
                grid-area: area-12; 
                border-bottom: 1px solid rgba(255, 255, 255, .4);
                border-right: 1px solid rgba(255, 255, 255, .4);

                @include break-lg {
                    display: none;
                }
            }

            &__header {
                padding: 1rem 1rem 0 1.2rem;
                width: 100%;
                display: flex;
                justify-content: space-between;

                @include break-sm {
                    padding: .8rem;
                    justify-content: flex-end;
                }

                &--name {
                    text-align: left;
                    @include text-square;

                    @include break-sm {
                        text-align: right;
                        font-size: 2rem;
                    }
                }

                &--rate {
                    visibility: hidden;
                    color: $color-dark;

                    @include break-sm {
                        display: none;
                    }
                }
            }

            &__details {
                width: 100%;
                height: 50%;
                display: flex;
                justify-content: flex-end;
                align-items: flex-end;
                @include text-regular;

                @include break-sm {
                    display: none;
                }

                &-price {
                    padding: 1rem 0 0 .6rem;
                    width: 7.6rem;
                    height: 100%;
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    border-left: 1px solid rgba(34, 34, 34, .2);

                    p {
                        margin-bottom: .4rem;
                    }

                }

                &-capacity {
                    padding: 3.6rem 0 0 .6rem;
                    width: 7.6rem;
                    height: 100%;
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    border-left: 1px solid rgba(34, 34, 34, .2);

                    p {
                        margin-bottom: .4rem;
                    }
                }

                .details {
                    font-size: 1rem;
                    opacity: 65%;
                    visibility: hidden;
                    color: $color-dark;
                }

                .details-value {
                    @include text-menu;
                    visibility: hidden;
                    color: $color-dark;
                }
            }
        }
    }
}